<h3 class="modal-title" id="exampleModalLabel" style="display:inline-block;"><%= t("devise.sessions.login") %></h3>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
