<div class="row">
  <div class="col-sm-4 col-md-2 col-md-offset-1 pull-left">
    <% @products.each do |product| %>
    <div class="thumbnail">
      <%= link_to(image_tag(product.product_images.first.image_url(:medium)), product_path(product)) %>
      <div class="caption">
        <h4><%= product.title %></h4>
        <p><%= User.find(product.user_id).username %> 上传</p>
        <p><span class="glyphicon glyphicon-heart"></span>4</p>
      </div>
    </div>
    <% end %>
  </div>
</div>
