<p><%= t("respect.welcome") @email %>!</p>

<p><%= t("devise.mailer.click_activate_link") %></p>

<p><%= link_to t("devise.mailer.activate"), confirmation_url(@resource, confirmation_token: @token) %></p>
