<p>您好 <%= @resource.email %>!</p>


<p>我们收到您有一个更改密码的需求, 您可以点选以下连结更改密码</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>如果您不需要更改密码, 请忽视此封邮件</p>
<p>除非您透过以上连结更改密码, 否则您的密码将不会有所变更</p>
