<div class="row">
<% @products.each do |product| %>

  <div class="col-sm-6 col-md-3 pull-left">
    <div class="thumbnail">
      <%= link_to((image_tag product.product_image.images[0].url(:large)), product_path(product)) %>
      <div class="caption">
        <h4><%= product.title %></h3>
        <span class="glyphicon glyphicon-heart"></span><br />
        <%= link_to('修改内容', edit_product_path(product)) %>
        <%= link_to('删除图纸', product_path(product), method: :delete) %>
      </div>
    </div>
  </div>

<% end %>
</div>
