<% if current_user.photo %>
<%= link_to(image_tag(@photo.image_url(:large), class: "img-responsive centered col-md-12"), edit_user_registration_path) %>
<h3 class="centered"><%= current_user.username %></h3>
<% else %>
<%= link_to(image_tag('default.jpg', class: 'centered'), registration_path) %>
<h3 class="centered"><%= current_user.username %></h3>
<% end %>
